
header {
  display: flex;
  background-color: transparent;
  height: 70px;
  width: 100%;
  z-index: 99;
  justify-content: space-between;
  position: fixed;
  align-items: flex-start;

  .logo {
    flex: 1;
    margin: 20px;
    justify-content: center;
    display: flex;
    justify-content: center;
    img{
      width: 150px;
    }
  }

  .lienmenu{
    flex: 2;
    color: white;
    padding: 25px 50px;
    font-size: 20px;
    display: flex;
    align-items: center;

    .c-menu{
      display: flex;
      flex-direction: column;
    }
    &:nth-child(1){
      flex: 1;
    }
    &:nth-child(2){
      flex: 2;
    }


    a{
      padding: 10px;
      margin: 0 10px;
      i{
        font-size: 25px
      }
      color : white;
    }



    &:first-child{
      text-align: left;
      justify-content: flex-start;
    }
    &:last-child{
      text-align: right;
      justify-content: flex-end;
    }
  }

}



@media all and (max-width:1200px) {
  header{
    .lienmenu{
      font-size: 16px;
      a{
        i{
          font-size: 20px;
        }
      }
    }
  }
}
@media all and (max-width:900px) {
  header {
    .logo {

    }

    .lienmenu{
      margin-top: 0;
      font-size: 14px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      .btn{
        margin-bottom: 10px;
      }
      span{
        display: none;
      }
      &:first-child{
        text-align: center;
        justify-content: flex-start;
      }
      &:last-child{
        justify-content: unset;
        align-items: flex-end;
      }
    }
    .socials{
      flex-direction: column;
    }
  }
}
